---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Resource from "../components/Resource.astro";
---

<Layout title="Build on Arweave">
  <section id="build" aria-label="Build on Arweave">
    <Container className="relative z-10 "> Build on Arweave. </Container>
  </section>
</Layout>
