---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import TrustedBy from "../components/TrustedBy.astro";
---

<Layout title="Use Arweave">
  <section id="discover" aria-label="Discover Arweave">
    <Container className="relative z-10"> Discover Arweave. </Container>
  </section>
</Layout>
