---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import ResourceList from "../components/ResourceList.astro";
---

<Layout title="Arweave: Get Funded">
  <section id="fund" aria-label="Get Funded">
    <Container className="relative z-10 "> Get Funded. </Container>
  </section>
</Layout>
