---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import TxnTable from "../components/TxnTable.jsx";
---

<Layout title="Arweave - A community-driven ecosystem">
  <main>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 items-start justify-center gap-24 2xl:gap-48"
    >
      <div class="relative mx-auto max-w-7xl px-4 sm:px-0">
        <h1 class="text-h1 lg:text-[72px]">
          Arweave.
        </h1>
        <h2 class="text-h2 lg:text-[24px]">
          Permanent information storage.
        </h2>
        <div class="mt-8 text-p2 lg:text-[16px]">
          <p>
            The Arweave network is like Bitcoin, but for data: A permanent and
            decentralized web inside an open ledger.
          </p>
          <p class="pt-4">
            The Arweave protocol is stable, mature and widely adopted. As such,
            its ecosystem is fully decentralized. This site is just the tip of
            the iceberg. It acts as a map that points you to places you can
            learn about, use and build on Arweave.<br /> Dive in! The rabbit hole
            is deep, and the possibilities are endless.
          </p>
          <p class="pt-4">
            Permanent storage has many applications: from the preservation of
            humanity's most important data, to the hosting of truly
            decentralized and provably neutral web apps.
          </p>
        </div>
      </div>
      <div
        class="px-4 lg:px-0 flex flex-col items-center justify-center min-h-full"
      >
        <TxnTable client:load />
      </div>
    </div>
  </main>
  <Footer />
</Layout>
