---
import Container from "./Container.astro";
---

<footer class="mx-auto py-24 sm:pb-10">
  <Container className="flex flex-col items-center justify-between lg:flex-row">
    <p class="text-slate-500 mt-6 text-base lg:mt-0">
      &copy; MIT License {new Date().getFullYear()}. Got something to add?
      <a
        href="https://github.com/arweaveteam/arweave-org"
        target="_blank"
        rel="noreferrer"
        class="underline">Send a PR.</a
      > | <a href="/legal-policies" class="underline"> Legal policies.</a> | <a
        href="/brand-kit"
        class="underline"
      >
        Brand Kit.</a
      >
    </p>
  </Container>
</footer>
