---
import Container from "./Container.astro";
import Logo from "./Logo.astro";
---

<header class="relative z-50 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 lg:pt-4">
  <Container
    className="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex flex-wrap items-center justify-center sm:justify-between lg:flex-nowrap"
  >
    <div class="mt-10 lg:mt-0 lg:grow lg:basis-0 xl:mt-10">
      <a href="/" class="inline-block">
        <Logo />
      </a>
    </div>
  </Container>
</header>
