---
import Container from "./Container.astro";
import Logo from "./Logo.astro";
const currentPathname = Astro.url.pathname;
const links = [
  { href: "/", label: "Home." },
  { href: "/use/", label: "Use." },
  { href: "/build/", label: "Build." },
  { href: "/discover/", label: "Discover." },
  { href: "/funding/", label: "Get Funded." },
];
---

<header class="relative z-50 mx-auto max-w-main">
  <Container
    className="mx-auto px-4 flex flex-col lg:flex-row items-center justify-between pt-8 pb-4"
  >
    <div class="">
      <a href="/" class="inline-block">
        <Logo />
      </a>
    </div>
    <nav class="">
      <ul
        class="flex mx-auto items-center space-x-2 md:space-x-5 text-base font-mono whitespace-nowrap"
      >
        {
          links.map((link) => (
            <li>
              <a
                href={link.href}
                class:list={[
                  "font-mono px-2 py-1 transition-colors text-sm",
                  currentPathname === link.href
                    ? "bg-orange text-white"
                    : "text-gray-900 hover:text-orange",
                ]}
              >
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </Container>
</header>
